# 24_NSIJ2AN1

## Exercice 1

In [1]:
# 1-

def echange(tab, i, j) :
    temp1 = tab[i]
    temp2 = tab[j]
    tab[i] = temp2
    tab[j] = temp1
    return tab

# 2-

def triStooge(tab, i, j):
    if tab[i] > tab[j]:
        echange(tab, i, j)
    if (j - i) > 1:
        k = (j - i + 1) // 3
        triStooge(tab, i, j - k)
        triStooge(tab, i + k, j)
        triStooge(tab, i, j - k)

3-

il est récursif car il s'appelle lui-même jusqu'a atteindre l'état triviale.

4- 

k = (j - i + 1) // 3
k = (5 - 0 + 1) // 3
k = (5 + 1) // 3
k = 6 // 3
k = 2

la valeur de k est de 2 lors de ce premier appel.

5- le nombre d'appels récursifs éffectués est de 39.

6- 

1 : triStooge(A, 1, 3)

2 : triStooge(A, 2, 3)

3 : triStooge(A, 0, 3)

7-   

| Appel | Valeur de A avant l'appel | Valeur de A après l'appel |
|:-:|:-:|:-:|
| triStooge(A, 0, 3)  | [5, 6, 4, 2] | [2, 6, 4, 5] |
| triStooge(A, ?, ?)  | [2, 6, 4, 5] |     ???      |
| triStooge(A, 1, 3)  | [2, 4, 6, 5] | [2, 4, 6, 5] |
| triStooge(A, 0, 0)  | [2, 4, 5, 6] | [2, 4, 5, 6] |

8- Tri par fusion

## Exercice 2

1-
Dufour, Marc;
Martin, Sophie;

2-

```sql
SELECT nom_medic FROM medicament,
Where prix < 3.50 ;
```

3-

```sql
INSERT INTO client VALUES (3, "Durand", "Nathalie", 269054958815780)
```
4-

id_client, id medic

5- 

ligne 7 : 1

ligne 8 : 3 

6-

```sql
UPDATE medicament,
SET quantite = 420,
WHERE id_medic = 4 
```

7- 

1×3,50+3×5,50=20

8-

```sql
 SELECT nom_medic FROM medicament,
 JOIN ordonnance ON ordonnance.id_medic = medicament.id_medic
 WHERE id_ordo = 6;
```