# 24_NSIJ2AN1

## Exercice 1

In [ ]:
# 1-

def echange(tab, i, j) :
    temp1 = tab[i]
    temp2 = tab[j]
    tab[i] = temp2
    tab[j] = temp1
    return tab

# 2-

def triStooge (tab, i, j):
    if tab[i] > tab [j]:
        echange(tab, i, j)
    if (j - i) > 1:
        k = (j- i + 1)//3
        triStooge(tab, )
        triStooge(tab, )
        triStooge(tab, )

## Exercice 2

1-
Dufour, Marc;
Martin, Sophie;

2-

```sql
SELECT nom_medic FROM medicament,
Where prix < 3.50 ;
```

3-

```sql
INSERT INTO client VALUES (3, "Durand", "Nathalie", 269054958815780)
```
4-

id_client, id medic

5- 

ligne 7 : 1

ligne 8 : 3 

6-

```sql
UPDATE medicament,
SET quantite = 420,
WHERE id_medic = 4 
```

7- 

3 x 5.50 = 16.5 

8-

```sql
SELECT nom_medic FROM medicament,
Where prix < 3.50 ;
```