# DM_EX2_Eval_SQL

## 1.

a. Mohamed Ali et alonso Fernando

b.Harry Kane

## 2.

a. 

|nom|prenom|
|:-:|:-:|
|Dupont|Antoine|
|Kane|Harry|

b.
```sql

SELECT tarif FROM Objet ,
WHERE id_objet = 5 

```

c.

```sql
UPDATE Objet ,
SET tarif = 15 ,
WHERE id_objet = 1      
```

d.

```sql
INSERT INTO Membre VALUES (6, Renard, Wendie, 69100)
```

## 3.

a.si on utilise id_objet ou id_membre, ça limite l'utilisateur a une location à la fois et pour id_objet, ça empêche la réservation à l'avance si l'objet est déja réservé par quelqu'un d'autre

b.ça provoque une erreur car il est présent dans d´autres tables hors il est seulement supprimé de Membre donc ça provoque une erreur , 
Il faut donc d’abord supprimer ces entités des tables Possede et Reservation avant de pouvoir le supprimer de la table Membre .

c.

```sql
DELETE FROM Possede, 
WHERE id_membre = 1

DELETE FROM Reservation, 
WHERE id_membre = 1
```

##  4.

a.

```sql
SELECT COUNT(*) FROM Reservation,
JOIN Membre ON Membre.id_membre = Reservation.id_membre,
WHERE Membre.nom = "Alfonso" AND Membre.prenom = "Fernando"
```

b.

```sql
SELECT nom, prenom FROM Membre,
JOIN Possede ON Possede.id_membre = Objet.id_membre,
JOIN Objet ON Objet.id_objet = Possede.id_objet,
WHERE Objet.description = "Appareil à raclette"
```





```sql

```