# DM_EX2_Eval_SQL

## 1.

a. Mohamed Ali et alonso Fernando

b.

## 2.

a.

b.

c.

d.

## 3.

a.

b.

c.

##  4.

a.

b.