# DM_SQL-Exercice_Bibliotheque

## 1.

- les anomalies présentes dans le schéma sont que les domaine des attributs ne sont pas précisés ainsi que les contraintes

## 2.

a. Abonne_ID

b. permet de automatiquement refuser la saisie des enregistrements dans lesquelles la date de retour est avant la date d’emprunt.

c. les conséquences sont que On ne pourra pas ajouter un emprunt avec un identifiant qui n’existe pas dans la table abonne et 
on ne pourra pas supprimer un abonné de la table Abonne s’il est référencé dans la table Emprunt.

d.c'est une mauvaise idée car on ne pourra plus saisir d’emprunt sans entrer la date de retour. Or, lors d’un nouvel emprunt, la date de 
retour n’est pas encore connue.

## 3. 
a. 
```sql
SELECT Nom, Prenom FROM Abonne WHERE Ville = "Bayonne" ;
```
b. 
```sql
SELECT Nom, Prenom FROM Abonne WHERE CodePostal LIKE "64%" ;
```
c. 
```sql
SELECT Abonne_ID FROM Emprunt WHERE , 
   DateRetourReel > DateRetourPrevu ;
```

d.
```sql
SELECT Nom FROM Abonne JOIN Emprunt ,
ON Abonne.Abonne_ID = Emprunt.Abonne_ID ,
WHERE DateRetourReel > DateRetourPrevu ;
```
e.
```sql
SELECT Titre FROM Livre JOIN Emprunt ,
ON Livre.Livre_ID = Emprunt.Livre_ID ,
WHERE DateRetourReel IS NULL ;
```
f.
```sql
 SELECT Nom FROM Abonne , 
JOIN Emprunt ON Abonne.Abonne_ID = Emprunt.Abonne_ID , 
JOIN Livre ON Livre.Livre_ID = Emprunt.Livre_ID , 
WHERE Livre.Titre = "Papillon" ;
```
g.
```sql
SELECT * FROM Abonne , 
WHERE Abonne_ID NOT IN (SELECT Abonne_ID FROM Emprunt) ;
```
h.
```sql
SELECT Nom FROM Abonne WHERE Abonne_ID NOT IN , 
(SELECT Abonne_ID FROM Emprunt ,  
WHERE DateRetourReel > DateRetourPrevu) ;
```
i.
```sql
SELECT Nom FROM Abonne WHERE Abonne_ID NOT IN , 
(SELECT Abonne_ID FROM Emprunt ,  
WHERE DateRetourReel <= DateRetourPrevu) ; 
```
j.
```sql
SELECT Nom, Prenom FROM Abonne ,  
JOIN Emprunt ON Abonne.Abonne_ID = Emprunt.Abonne_ID ,
WHERE Ville = 'Bayonne' AND DateRetourPrevu < DateRetourReel ;
```
k.
```sql
SELECT Abonne_ID FROM Abonne ORDER BY DateNaissance LIMIT 1 ;
```
l.
```sql
SELECT MAX(DateRetourReel-DateRetourPrevu) FROM Emprunt ;
```
m.
```sql
SELECT Abonne_ID FROM Emprunt , 
WHERE DateRetourReel - DateRetourPrevu = (SELECT MAX(DateRetourReel-DateRetourPrevu)  FROM Emprunt) ;
```
n.
```sql
SELECT AVG(DateRetourReel - DateRetourPrevu) FROM Emprunt ,  
WHERE DateRetourReel > DateRetourPrevu ;
```
o.
```sql
SELECT * FROM Abonne WHERE nom BETWEEN "A" AND "I" ; 
```
p.
```sql
SELECT Count(*)  FROM Emprunt ,   
JOIN Livre ON Livre.Livre_ID = Emprunt.Livre_ID ,
WHERE Livre.Titre = "Papillon" ;
```

## 4.
a. 
```sql
INSERT INTO Emprunt VALUES(803, 4252, 2020-11-02 , 2020-11-23, NULL) ;
```
b.
```sql
UPDATE Abonne ,
SET Adresse = "11 rue Lormand", Ville = "Bayonne", CodePostal = "64100" , 
WHERE Nom = "DUPONT" AND Prenom = "Jean" ;
```
c.
```sql
SELECT * FROM Emprunt E JOIN Abonne  A ON Emprunt.Abonne_ID = Abonne.Abonne_ID ,
WHERE Nom = "ETCHEGARAY" AND Prenom = "Jon" AND DateRetourReel IS NULL ; 
```
d.
```sql
DELETE FROM Emprunt , 
WHERE Abonne_ID IN (SELECT Abonne_ID FROM Abonne ,
WHERE Nom = "ETCHEGARAY" AND Prenom = "Jon") ;
```
e.
```sql
DELETE FROM Abonne WHERE Nom = "ETCHEGARAY" AND Prenom = "Jon" ;
```
## 5.

```sql
SELECT * FROM Emprunt ,  
WHERE (Abonne_ID NOT IN (SELECT Abonne_ID FROM Abonne)) ;
```